
# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /

## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive on
ExpiresDefault                                    "access plus 1 month"

# DATA
ExpiresByType text/xml                            "access plus 0 seconds"
#ExpiresByType text/html                           "access plus 0 seconds"
ExpiresByType text/plain                          "access plus 0 seconds"
ExpiresByType application/xml                     "access plus 0 seconds"
ExpiresByType application/json                    "access plus 0 seconds"
ExpiresByType application/rss+xml                 "access plus 1 hour"
ExpiresByType application/atom+xml                "access plus 1 hour"
ExpiresByType text/x-component                    "access plus 1 hour"

# MANIFEST
ExpiresByType application/x-web-app-manifest+json "access plus 0 seconds"
ExpiresByType text/cache-manifest                 "access plus 0 seconds"

# SCRIPTS
ExpiresByType text/css                            "access plus 1 month" 
#ExpiresByType text/javascript                     "access plus 1 month" 
#ExpiresByType application/javascript              "access plus 1 month" 
#ExpiresByType application/x-javascript            "access plus 1 month" 

# IMAGES
ExpiresByType image/gif                           "access plus 1 month"
ExpiresByType image/png                           "access plus 1 month"
ExpiresByType image/jpe                           "access plus 1 month"
ExpiresByType image/jpg                           "access plus 1 month"
ExpiresByType image/jpeg                          "access plus 1 month"
ExpiresByType image/jp2                           "access plus 1 month"
ExpiresByType image/pipeg                         "access plus 1 month"
ExpiresByType image/bmp                           "access plus 1 month"
ExpiresByType image/tiff                          "access plus 1 month"
ExpiresByType image/svg+xml                       "access plus 1 month"
ExpiresByType image/vnd.microsoft.icon            "access plus 1 month"

# ICONS
ExpiresByType image/ico                           "access plus 1 month"
ExpiresByType image/icon                          "access plus 1 month"
ExpiresByType text/ico                            "access plus 1 month"
ExpiresByType image/x-ico                         "access plus 1 month"
ExpiresByType image/x-icon                        "access plus 1 month"
ExpiresByType application/ico                     "access plus 1 month"

# AUDIO
ExpiresByType audio/ogg                           "access plus 1 month"
ExpiresByType audio/basic                         "access plus 1 month"
ExpiresByType audio/mid                           "access plus 1 month"
ExpiresByType audio/midi                          "access plus 1 month"
ExpiresByType audio/mpeg                          "access plus 1 month"
ExpiresByType audio/x-aiff                        "access plus 1 month"
ExpiresByType audio/x-mpegurl                     "access plus 1 month"
ExpiresByType audio/x-pn-realaudio                "access plus 1 month"
ExpiresByType audio/x-wav                         "access plus 1 month"

# VIDEO
ExpiresByType video/ogg                           "access plus 1 month"
ExpiresByType video/mp4                           "access plus 1 month"
ExpiresByType video/webm                          "access plus 1 month"
ExpiresByType video/x-msvideo                     "access plus 1 month"
ExpiresByType video/mpeg                          "access plus 1 month"
ExpiresByType video/quicktime                     "access plus 1 month"
ExpiresByType video/x-la-asf                      "access plus 1 month"
ExpiresByType video/x-ms-asf                      "access plus 1 month"
ExpiresByType x-world/x-vrml                      "access plus 1 month"

# FONTS
ExpiresByType font/truetype                       "access plus 1 month"
ExpiresByType font/opentype                       "access plus 1 month"
ExpiresByType application/x-font-ttf              "access plus 1 month"
ExpiresByType application/x-font-woff             "access plus 1 month"
ExpiresByType application/font-woff               "access plus 1 month"
ExpiresByType application/vnd.ms-fontobject       "access plus 1 month"

# FLASH
ExpiresByType application/x-shockwave-flash       "access plus 1 month"
ExpiresByType video/x-flv                         "access plus 1 month"

# OTHERS
ExpiresByType application/pdf                     "access plus 1 month"
ExpiresByType image/vnd.wap.wbmp                  "access plus 1 month"
ExpiresByType application/vnd.wap.wbxml           "access plus 1 month"
ExpiresByType application/smil                    "access plus 1 month"

    <IfModule mod_headers.c>
        Header append Cache-Control "public"
        SetEnvIf Origin "http(s)?://(www\.)?(example.org|example.com)$" AccessControlAllowOrigin=$0$1
        Header add Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
        Header set Access-Control-Allow-Origin 'http://www.saywololo.com' 
    </IfModule>
</IfModule>
## EXPIRES CACHING ##

<IfModule mod_gzip.c>
mod_gzip_on Yes
mod_gzip_dechunk Yes
mod_gzip_item_include file .(html?|txt|css|js|php|pl)$
mod_gzip_item_include handler ^cgi-script$
mod_gzip_item_include mime ^text/.*
mod_gzip_item_include mime ^application/x-javascript.*
mod_gzip_item_exclude mime ^image/.*
mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</IfModule>

<IfModule mod_headers.c>
    # Serve gzip compressed CSS files if they exist
    # and the client accepts gzip.
    RewriteCond "%{HTTP:Accept-encoding}" "gzip"
    RewriteCond "%{REQUEST_FILENAME}\.gz" -s
    RewriteRule "^(.*)\.css" "$1\.css\.gz" [QSA]

    # Serve gzip compressed JS files if they exist
    # and the client accepts gzip.
    RewriteCond "%{HTTP:Accept-encoding}" "gzip"
    RewriteCond "%{REQUEST_FILENAME}\.gz" -s
    RewriteRule "^(.*)\.js" "$1\.js\.gz" [QSA]

    # Serve correct content types, and prevent mod_deflate double gzip.
    RewriteRule "\.css\.gz$" "-" [T=text/css,E=no-gzip:1]
    RewriteRule "\.js\.gz$" "-" [T=text/javascript,E=no-gzip:1]

    <FilesMatch "(\.js\.gz|\.css\.gz)$">
      # Serve correct encoding type.
      Header append Content-Encoding gzip

      # Force proxies to cache gzipped &
      # non-gzipped css/js files separately.
      Header append Vary Accept-Encoding
    </FilesMatch>
</IfModule>

Options -Indexes

# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:daqymehyby
allow from 103.21.244.0
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE daqymehyby:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:BejuGyruzy
allow from 103.22.200.0
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE BejuGyruzy:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:aJatapysym
allow from 103.31.4.0
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE aJatapysym:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:vuGaDyvuXa
allow from 104.16.0.0
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE vuGaDyvuXa:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:ryXuTaquha
allow from 108.162.192.0
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE ryXuTaquha:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:aHatuRyQuZ
allow from 131.0.72.0
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE aHatuRyQuZ:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:jaJeTujaRu
allow from 141.101.64.0
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE jaJeTujaRu:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:deWeguHuSe
allow from 162.158.0.0
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE deWeguHuSe:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:aseHuZeByW
allow from 172.64.0.0
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE aseHuZeByW:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:GuTaveNaSa
allow from 173.245.48.0
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE GuTaveNaSa:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:uqeLyQyLes
allow from 188.114.96.0
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE uqeLyQyLes:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:DaZybaLuge
allow from 190.93.240.0
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE DaZybaLuge:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:uBaduMySuv
allow from 197.234.240.0
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE uBaduMySuv:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:PuXypySuvu
allow from 198.41.128.0
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE PuXypySuvu:IPALLOWID

